<div class="container mt-5 mx-auto text-center" id="url-shortener">
  <h2> URL Shortener</h2>
  <img src="/images/url.png" alt="" class="url-image">

  <form action="POST">
    <div class="form-group">
      <input type="text" class="form-control input-box" placeholder="Input URL here">
    </div>
    <button class="btn btn-outline-primary" type="submit">Shorten</button>
  </form>
</div>