<div class="container mt-5 mx-auto text-center" id="url-shortener">
  <a href="/">
    <h2> URL Shortener</h2>
  </a>
  <img src="/images/url.png" alt="" class="url-image">

  {{#unless shortUrl}}
  <form action="/" method="POST">
    <div class="form-group">
      <input type="text" class="form-control input-box" placeholder="Input URL here" name="originalUrl">
    </div>
    <div class="warnings">
      <p>{{errorMessage}}</p>
    </div>

    <button class="btn btn-outline-primary" type="submit">Shorten</button>
  </form>
  {{/unless}}

  {{#if shortUrl}}
  <h3>Success! Please use the link:</h3>
  <a href="{{shortUrl}}" id="short-url">{{shortUrl}}</a><br>
  <button type="button" class="btn btn-primary" id="copy" data-clipboard-target="#short-url">Copy</button>
  {{/if}}
</div>